
		*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        :root{
            --cor-number0: #083448;
            --cor-number1: #c2c3d1;
            --cor-number2: #205f97;
        }

		body, html {
			margin: 0;
			font-family: 'Poppins', sans-serif;
            font-weight: 600;
			color: #777;
			height: 100%;
		}

	

		.conteudo {
			color: #777;
			background-color: white;
			text-align: justify;
			padding: 2rem 8rem;
		}

        header,
		footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .logo{
            width: 6rem;
            height: 100%;
			margin-left: 3%;
        }

        .nav{
            display: flex;
            gap: 3rem;
			padding-right: 8%;
        }

	
        .nav-link{
            padding: 0.01rem 0.5rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5rem;
            border: 0.2rem solid var(--cor-number0);
            border-radius: 1rem;
            color: var(--cor-number0);
        }

		.reservas{
			box-shadow: 0.2rem 0.2rem 0.1rem var(--cor-number2);
			
		}
		.reservas,
        .nav-link:hover{
            background-color: var(--cor-number0);
            color: #fff;
        }


		h3 {
			text-transform: uppercase;
			text-align: center;
		}

		p{
			margin-bottom: 20px;

		}

		.rodape{
			display: flex;
			flex-direction: column;
			height: 12rem;
		}

		.invite{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding-top: 2%;
		}

		.invite-esq{
			display: flex;
			align-items: center;
			padding: 2rem 2rem;
		}

		.invite-p{
			width: 15rem;
		}

		.contato-bottom{
			display: flex;
			align-items: center;
			gap: 2%;
		}

		.contato-img{
			align-self: flex-start;
			width: 1.5rem;
			height: 1.5rem;
			padding-top: 1%;
		}
		/* Efeito Parallax
		-------------------------------*/
		.caixa0, .caixa1, .caixa2, .caixa3, .caixa4 {
			position: relative;
			height: 100%;
			opacity: 0.9;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed; 
		}

        .caixa0{
            height: 4rem;
            background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/9b/da/cd/getlstd-property-photo.jpg?w=1200&h=-1&s=1");
        }

		.caixa1 {
			background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/9b/da/cd/getlstd-property-photo.jpg?w=1200&h=-1&s=1");
		}

		.caixa2 {
			background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/c6/e5/5c/piscina.jpg?w=1200&h=-1&s=1");
		}

		.caixa3 {
			background-image: url("https://img.vistarooms.com/space/USi5FL1PlVhNHrbpTZCYw50kvvU88vdjKpIfVpFD.jpeg");
		}

		.caixa4 {
			background-image: url(https://w.forfun.com/fetch/85/856ece275963e5366ca72e7858b9194e.jpeg);
		}

		.conteudo-titulo {
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			text-align: center;
		}

		.conteudo-titulo span.titulo {
			color: #fff;
			background-color: #000000;
			padding: 1rem;
			font-size: 2rem;
			letter-spacing: 0.5rem;
			text-transform: uppercase;
		}

		@media screen and (max-width: 767px) {
			.conteudo{
				padding: 1rem 5%;
			}

			.nav-link, 
			.reservas{
				display: flex;
				align-self: center;
				font-size: 0.6rem;
			}

			.logo{
				width: 4rem;
				height: 4rem;
			}

			.conteudo-titulo{
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.invite-p,
			.contato-bottom{
				padding-right: 13%;
				font-size: 0.8rem;
			}

			.contato-bottom{
				padding: none;
			}
			h3{
				font-size: 1rem;
			}
		}

		@media screen and (min-width: 768px) and (max-width: 1023px) {
			.conteudo{
				padding: 1rem 5%;
			}

			.nav-link, 
			.reservas{
				display: flex;
				align-self: center;
				font-size: 0.9rem;
			}

			.logo{
				width: 4rem;
				height: 4rem;
			}

			.invite-esq{
				display: flex;
				justify-content: space-between;
				gap: 2rem;

			}
			.invite-p,
			.contato-bottom{
				gap: 3%;
				font-size: 1rem;
			}

			.contato-bottom{
				padding: none;
			}
			h3{
				font-size: 1rem;
			}
		}

	